@use "variables" as v;

@mixin telefono{
    @media (min-width: v.$telefono){
        @content;
    }
}

@mixin tablet{
    @media (min-width: v.$tablet){
        @content;
    }
}

@mixin desktop{
    @media (min-width: v.$desktop){
        @content;
    }
}

@mixin desktopXl{
    @media (min-width: v.$desktopXl){
        @content;
    }
}

@mixin contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid($columnas){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    column-gap: 5rem;
}

@mixin resetear-lista{
    list-style: none;
    padding: 0;
    margin: 0;
}